.container{
margin: 50px;
}

.square{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 20px;
}

.square1{
    background-color: blueviolet;
    transition: transform 0.5s ease;
}
.square2{
    background-color: black;
    transition: transform 0.5s ease-in;
}
.square3{
    background-color: brown;
    transition: transform 0.5s ease-in-out;
}
.square4{
    background-color: blue;
    transition: transform 0.5s ease-out;
}
.square5{
    background-color: aqua;
    transition: transform 0.5s linear;
}

.container:hover .square{
    transform: translateX(500px);
}

.circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid teal;
    background-color: aqua;
    transition: border-color 0.5s ease-in;
}
.circle:hover{
    border-color: crimson;
}
.rectangular{
    width: 300px;
    height: 200px;
    background-color: darkred;
    display: inline-block;
    margin: 0 40px;
    transition: transform 1s ease-in-out;
}
.container1{
    margin-top: 100px;
}

.rectangular1:hover{
    transform: rotate(90deg) ;
}
.rectangular2:hover{
    transform: rotate(1000deg);
}
.rectangular3:hover{
    transform: rotate(-200deg);
}
.rectangular4:hover{
    transform: skew(-10deg);
}
.rectangular5:hover{
    transform: skewY(100deg);
}
.rectangular6:hover{
    transform: skewX(100deg);
}
.squarenew{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 20px;
    background-color: black;
    transition: transform 1s ease-in-out;
}
.square6:hover{
    transform: scale(2);
}
.square7:hover{
    transform: scale(0.5);
}
.square8:hover{
    transform: scale(1.5);
}
.container2 div{
    margin-top: 50px;
    height: 400px;
    width: 400px;
    background-image: repeating-linear-gradient(
        60deg,
        aqua,
        black 10px,
        yellow 30px,
        magenta 40px,
    );
    transition: all 2s ease-in-out;
}
.container2 div:hover{
    background-image: linear-gradient(
        10deg,
        magenta,
        violet,
        green,
        blue,
    );
    transform: rotate(-1000deg) skew(15deg) scale(0.7);
    margin-left: 100px;
}
.box{
    width: 200px;
    height: 200px;
    background-color: midnightblue;
    margin-top: 50px;
    animation:spin 1s;
    animation-iteration-count: infinite;

}
@keyframes slide-in{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(500px);
    }
}
@keyframes drop-in{
    from{
        transform: rotate(-30deg) translateY(-100%);
    }
    to{
        transform: rotate(0deg) translateY(0%);
    }
}  
@keyframes spin{
    0%{
       transform: rotate(0turn) scale(1);
    }

    25%{
        transform: rotate(1turn) scale(1);
    }
    50%{
        transform: rotate(2turn) scale(0.5);
    }
    75%{
        transform: rotate(3turn) scale(2);
    }
    100%{
        transform: rotate(2turn) scale(2.5);
    }

}
